*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: clamp(1rem, 2vh, 1.2rem);
  color: #0A0908
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form{
  padding: 1em;
  display:grid;
  grid-template-columns: 45% 45%;
  grid-gap:1em 10%;
  width: 100%;
  height: 50%;
  margin: 2em;
  /*border: 2px solid black;*/
  border: 2px solid #22333B;
  /*background-color:rgb(163, 200, 255);*/
  background-color: #EAE0D5;
  align-items: center;
}

.form input{
  width: 100%;
  height: 70%;
  /*border: 2px solid rgb(200,200,200);*/
  border: 2px solid #22333B;
  justify-self: center;
}

.form input:invalid{
  border: 2px solid red;
}

.form input:focus{
  background-color: #C6AC8E;
  border: 2px solid #5E503F;
}

.form select{
  width: 100%;
  height: 70%;
  border: 2px solid #22333B;
}

.form label{
  justify-self: center;
}

#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5em;
}

.App{
  max-width: 900px;
  width: 50vw;
  height: 100vh;
  max-height: 100vh;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formAndDetailsContainer{
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav{
  width: 70%;
  height: 54px;
  /*border: 2px solid rgb(135, 183, 255);*/
border: 2px solid #5E503F;
}

.navButtonBlack{
  width: 50%;
  text-align: center;
  /*background-color: rgb(135, 183, 255);*/
  background-color: #C6AC8E;
}

.whiteText{
  color: white;
}

.blackText{
  color: black;
}

.navButtonWhite{
  width: 50%;
  text-align: center;
  background-color: white;
}

.linkTag{
  text-decoration: none;
  flex-grow: 1;
  display: block;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paymentDisplay{
  width: 100%;
  height: 30%;
  max-height: 30%;
  display: flex;
   
}

.paymentLeftDiv{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.paymentLeftDiv h1{
  font-size: clamp(1.1rem, 2vh, 2rem);
  /*color: rgb(245, 90, 90);*/
  color: #22333B;
}

.paymentRightDiv{
  width: 70%;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-gap:1em 10%;
  text-align: center;
  margin-bottom: 2em
}

.paymentRightDiv p{
  justify-self: center;
}

.colorGreen{
  /*color: rgb(0, 100, 0);*/
}

@media (max-width: 800px) {
  .App{
    width: 100vw;
  }
}