*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: clamp(1rem, 2vh, 1.2rem);
  color: #0A0908
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form{
  padding: 1em;
  display:grid;
  grid-template-columns: 45% 45%;
  grid-gap:1em 10%;
  width: 100%;
  height: 50vh;
  /*border: 2px solid black;*/
  /*background-color:rgb(163, 200, 255);*/
  background-color: #298160;
  align-items: center;
}

.form input{
  width: 100%;
  height: 70%;
  max-height: 50px;
  /*border: 2px solid rgb(200,200,200);*/
  border: 2px solid #22333B;
  justify-self: center;
}

.form input:invalid{
  border: 2px solid red;
}

.form input:focus{
  background-color: #22333B;
  color: white;
  outline: none;
}

.form input:focus:invalid{
   border: 2px solid red;
}

.form select{
  width: 100%;
  height: 70%;
  max-height: 50px;
  border: 2px solid #22333B;
}

.form label{
  justify-self: center;
}

#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App{
  max-width: 900px;
  width: 50vw;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formAndDetailsContainer{
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav{
  width: 70%;
  height: 54px;
  margin-top: 1em;
  margin-bottom: 1em;
  /*border: 2px solid rgb(135, 183, 255);*/
border: 2px solid #5E503F;
}

.navButtonBlack{
  width: 50%;
  text-align: center;
  /*background-color: rgb(135, 183, 255);*/
  background-color: #22333B;
}

.whiteText{
  color: white;
}

.blackText{
  color: black;
}

.navButtonWhite{
  width: 50%;
  text-align: center;
  background-color: white;
}

.linkTag{
  text-decoration: none;
  flex-grow: 1;
  display: block;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paymentDisplay{
  width: 100%;
  height: 40vh;
  display: flex;
  margin-top: 2em;
   
}

.paymentLeftDiv{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.paymentLeftDiv h1{
  font-size: clamp(1.1rem, 2vh, 2rem);
  /*color: rgb(245, 90, 90);*/
  color: #22333B;
}

.paymentRightDiv{
  width: 70%;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-gap:1em 10%;
  text-align: center;
  margin-bottom: 2em
}

.paymentRightDiv p{
  justify-self: center;
}

.informationContainer{
  padding-top: 1em;
  text-align: center;
  background-color: #22333B;
  color: white;
}

.informationContainer p{
  margin: 1em;
  color: white;
}

.informationContainer h1, h2, h3{
  color: #298160;
}

.informationContainer h1{
  font-size: clamp(2rem, 2vh, 3rem);
}

.informationContainer h2{
  font-size: clamp(1.5rem, 2vh, 2rem);
  margin-bottom: 1em;
}

.colorGreen{
  /*color: rgb(0, 100, 0);*/
}

@media (max-width: 800px) {
  .App{
    width: 100vw;
  }
}

@media (orientation: portrait){
  .form{
    height: 90vh;
  }
  .paymentDisplay{
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .paymentLeftDiv{
    align-items: center;
    width: 100%;
    margin-bottom: 2em;
  }
  .paymentLeftDiv h1{
    font-size: clamp(2rem, 2vh, 3rem);
  }
}